@import "../../utils/variables.scss";

mat-toolbar {
  display: flex;
  height: 10vh;
  background-color: $backgroundComponentColor;
  .logoType {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .inputSearch {
    display: flex;
    flex-grow: 4;
    justify-content: center;
    mat-form-field {
      width: 90%;
    }
  }

  .iconButtonsDiv {
    display: flex;
    flex-grow: 2;
    .iconButton {
      display: flex;
      justify-content: center;
      width: 25%;
      transform: scale(1.25);
    }
  }
}
:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 30px;
  background-color: $appBackgroundColor;
  border-radius: 30px;
}
