<mat-toolbar>
  <div class="logoType">
    <img src="assets/svg/textLogo.svg" />
  </div>
  <div class="inputSearch">
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <input matInput placeholder="Angular presentation" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="iconButtonsDiv">
    <div class="iconButton">
      <button
        mat-icon-button
        aria-label="Notifications icon-button with notifications icon"
      >
        <mat-icon>notifications</mat-icon>
      </button>
    </div>
    <div class="iconButton">
      <button mat-icon-button aria-label="Chat icon-button with chat icon">
        <mat-icon>chat_bubble</mat-icon>
      </button>
    </div>
    <div class="iconButton">
      <button
        mat-icon-button
        aria-label="Accoount icon-button with ccoount icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <div class="iconButton">
      <button
        mat-icon-button
        aria-label="Settings icon-button with settings icon"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
