<mat-toolbar>
  <div class="logoType">
    <img src="assets/svg/logo.svg" />
  </div>
  <div class="inputSearch">
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="iconButtonsDiv">
    <div class="iconButton">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>notifications</mat-icon>
      </button>
    </div>
    <div class="iconButton">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>chat_bubble</mat-icon>
      </button>
    </div>
    <div class="iconButton">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <div class="iconButton">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
