<div class="panelButton">
  <a mat-fab extended routerLink="/financces">
    <mat-icon>payments</mat-icon>
    Finances
  </a>
</div>
<div class="panelButton">
  <a mat-fab extended routerLink="/notes">
    <mat-icon>description</mat-icon>
    Notes
  </a>
</div>
<div class="panelButton">
  <a mat-fab extended routerLink="/calendar">
    <mat-icon>calendar_today</mat-icon>
    Calendar
  </a>
</div>
<div class="panelButton">
  <a mat-fab extended routerLink="/friends">
    <mat-icon>group</mat-icon>
    Friends
  </a>
</div>
